In [1]:
import pandas as pd

In [2]:
OUTPUT = '_output'

In [3]:
df = pd.read_pickle('{}/total_old_clean.pickle'.format(OUTPUT))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114781 entries, 0 to 114804
Data columns (total 17 columns):
favoriteCount    114781 non-null int64
hashtags         114781 non-null object
id               114781 non-null int64
images           114781 non-null object
isPinned         114781 non-null bool
isReplyTo        114781 non-null bool
isRetweet        114781 non-null bool
quote            1228 non-null object
replyCount       114781 non-null int64
retweetCount     114781 non-null int64
screenName       114781 non-null object
text             114781 non-null object
time             114781 non-null object
urls             114781 non-null object
userMentions     114781 non-null object
date             114781 non-null object
time_new         114781 non-null object
dtypes: bool(3), int64(4), object(10)
memory usage: 13.5+ MB

In [4]:
df.head(2)

,favoriteCount,hashtags,id,images,isPinned,isReplyTo,isRetweet,quote,replyCount,retweetCount,screenName,text,time,urls,userMentions,date,time_new
0,0,[],633427986943860736,[],False,False,False,NaN,1,0,FowlerVW,Volkswagen Invented A Self-Driving Stroller An...,2015-08-17T23:59:35.000Z,[{'url': 'http://www.buzzfeed.com/abagg/babys-...,[],2015-08-17,23:59:35
1,0,"[{'hashtag': '2015', 'indices': [18, 23]}, {'h...",633427655807922176,[],False,False,False,NaN,0,0,BradReusing,Old exhaust off. #2015 #volkswagen #golf #tdi...,2015-08-17T23:58:16.000Z,[{'url': 'https://instagram.com/p/6gO6c1sN2X/'...,[],2015-08-17,23:58:16

### Hashtags

In [5]:
no_hashtags = ['volkswagen','vw']
liste_hashtags = []
for index, row in df.iterrows():
    id = row['id']
    screenName = row['screenName']
    date = row['date']
    hashtags = row['hashtags']
    for item in hashtags:
        item = item['hashtag'].lower()
        if item not in no_hashtags:
            liste_hashtags.append((id, screenName, date, item))

In [6]:
df_hashtags = pd.DataFrame.from_records(liste_hashtags, columns=['id','screenName', 'date', 'hashtags'])

In [7]:
df_hashtags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84635 entries, 0 to 84634
Data columns (total 4 columns):
id            84635 non-null int64
screenName    84635 non-null object
date          84635 non-null object
hashtags      84635 non-null object
dtypes: int64(1), object(3)
memory usage: 2.6+ MB

In [8]:
df_hashtags.head()

                   id   screenName        date     hashtags
0  633427655807922176  BradReusing  2015-08-17         2015
1  633427655807922176  BradReusing  2015-08-17         golf
2  633427655807922176  BradReusing  2015-08-17          tdi
3  633427655807922176  BradReusing  2015-08-17       diesel
4  633427655807922176  BradReusing  2015-08-17  volksnation

In [9]:
df_hashtags.to_pickle('{}/liste_old_hashtags.pickle'.format(OUTPUT))

### Mentions

In [10]:
liste_userMentions = []
for index, row in df.iterrows():
    id = row['id']
    screenName = row['screenName']
    date = row['date']
    userMentions = row['userMentions']
    for item in userMentions:
        item = item['screenName'].lower()
        liste_userMentions.append((id, screenName, date, item))

In [11]:
df_userMentions = pd.DataFrame.from_records(liste_userMentions, columns=['id','screenName', 'date', 'userMentions'])

In [12]:
df_userMentions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43564 entries, 0 to 43563
Data columns (total 4 columns):
id              43564 non-null int64
screenName      43564 non-null object
date            43564 non-null object
userMentions    43564 non-null object
dtypes: int64(1), object(3)
memory usage: 1.3+ MB

In [13]:
df_userMentions.head()

                   id      screenName        date   userMentions
0  633427434432413696  chuckheffernan  2015-08-17     volkswagen
1  633424835327197184          nuxnix  2015-08-17       cnnmoney
2  633424329070370816    interest1959  2015-08-17  aboutlawsuits
3  633424329070370816    interest1959  2015-08-17      sharethis
4  633424074564345856   Truckworld_TV  2015-08-17        youtube

In [14]:
df_userMentions.to_pickle('{}/liste_old_userMentions.pickle'.format(OUTPUT))

### Urls

In [15]:
liste_urls = []
for index, row in df.iterrows():
    id = row['id']
    screenName = row['screenName']
    date = row['date']
    urls = row['urls']
    for url in urls:
        url = url['url'].lower()
        liste_urls.append((id, screenName, date, url))

In [16]:
df_urls = pd.DataFrame.from_records(liste_urls, columns=['id','screenName', 'date', 'urls'])

In [17]:
df_urls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74480 entries, 0 to 74479
Data columns (total 4 columns):
id            74480 non-null int64
screenName    74480 non-null object
date          74480 non-null object
urls          74480 non-null object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [18]:
df_urls.head()

,id,screenName,date,urls
0,633427986943860736,FowlerVW,2015-08-17,http://www.buzzfeed.com/abagg/babys-first-car
1,633427655807922176,BradReusing,2015-08-17,https://instagram.com/p/6go6c1sn2x/
2,633427516393455616,BradReusing,2015-08-17,https://instagram.com/p/6gpumcmn3m/
3,633427496436805632,USClassicAutos,2015-08-17,http://rssdata.net/btgshj
4,633425669058228224,vehiclenewz,2015-08-17,http://www.vehiclenews.net/volkswagen-e-golf-r...

In [19]:
df_urls.to_pickle('{}/liste_old_urls.pickle'.format(OUTPUT))

### Clean array data tin the Tweets table

In [20]:
df2 = df.drop(['hashtags', 'images', 'urls', 'userMentions', 'quote'], axis=1)

In [21]:
df2.to_pickle('{}/total_old_clean_no_arrays.pickle'.format(OUTPUT))

In [22]:
df2.head()

,favoriteCount,id,isPinned,isReplyTo,isRetweet,replyCount,retweetCount,screenName,text,time,date,time_new
0,0,633427986943860736,False,False,False,1,0,FowlerVW,Volkswagen Invented A Self-Driving Stroller An...,2015-08-17T23:59:35.000Z,2015-08-17,23:59:35
1,0,633427655807922176,False,False,False,0,0,BradReusing,Old exhaust off. #2015 #volkswagen #golf #tdi...,2015-08-17T23:58:16.000Z,2015-08-17,23:58:16
2,0,633427516393455616,False,False,False,0,0,BradReusing,New exhaust on. #2015 #volkswagen #golf #tdi ...,2015-08-17T23:57:43.000Z,2015-08-17,23:57:43
3,0,633427496436805632,False,False,False,0,0,USClassicAutos,For Sale: Volkswagen : Beetle - Classic 1965 v...,2015-08-17T23:57:38.000Z,2015-08-17,23:57:38
4,0,633427434432413696,False,False,False,0,0,chuckheffernan,@Volkswagen If your ads had old men doing what...,2015-08-17T23:57:23.000Z,2015-08-17,23:57:23