In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
OUTPUT = '_output'

In [3]:
df = pd.read_pickle('{}/total_old_clean_no_arrays.pickle'.format(OUTPUT))

In [4]:
df.head()

,favoriteCount,id,isPinned,isReplyTo,isRetweet,replyCount,retweetCount,screenName,text,time,date,time_new
0,0,633427986943860736,False,False,False,1,0,FowlerVW,Volkswagen Invented A Self-Driving Stroller An...,2015-08-17T23:59:35.000Z,2015-08-17,23:59:35
1,0,633427655807922176,False,False,False,0,0,BradReusing,Old exhaust off. #2015 #volkswagen #golf #tdi...,2015-08-17T23:58:16.000Z,2015-08-17,23:58:16
2,0,633427516393455616,False,False,False,0,0,BradReusing,New exhaust on. #2015 #volkswagen #golf #tdi ...,2015-08-17T23:57:43.000Z,2015-08-17,23:57:43
3,0,633427496436805632,False,False,False,0,0,USClassicAutos,For Sale: Volkswagen : Beetle - Classic 1965 v...,2015-08-17T23:57:38.000Z,2015-08-17,23:57:38
4,0,633427434432413696,False,False,False,0,0,chuckheffernan,@Volkswagen If your ads had old men doing what...,2015-08-17T23:57:23.000Z,2015-08-17,23:57:23

In [5]:
# Create database
disk_engine = create_engine('sqlite:///{}/tweets_old_2018-03-09.db'.format(OUTPUT))
# Tweets table
df.to_sql('tweets', disk_engine, if_exists='append')

In [8]:
# Hashtags table
df_hashtags = pd.read_pickle('{}/liste_old_hashtags.pickle'.format(OUTPUT))

In [9]:
df_hashtags.to_sql('hashtags', disk_engine, if_exists='append')

In [10]:
# userMentions table

In [11]:
df_userMentions = pd.read_pickle('{}/liste_old_userMentions.pickle'.format(OUTPUT))

In [12]:
df_userMentions.to_sql('userMentions', disk_engine, if_exists='append')

In [13]:
# urls table

In [14]:
df_urls = pd.read_pickle('{}/liste_old_urls.pickle'.format(OUTPUT))

In [15]:
df_urls.to_sql('urls', disk_engine, if_exists='append')